<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432312515391-26pein7eh075qkp6jtch7stgtlouf4q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432312515391-26pein7eh075qkp6jtch7stgtlouf4q7</string>
	<key>API_KEY</key>
	<string>AIzaSyDOTxJ09cu5A7NH74v-KKRjv1XQWNeN_VE</string>
	<key>GCM_SENDER_ID</key>
	<string>432312515391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs3217.CardBox</string>
	<key>PROJECT_ID</key>
	<string>cardbox-fbcf5</string>
	<key>STORAGE_BUCKET</key>
	<string>cardbox-fbcf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432312515391:ios:192e5e4ccc7f6b5cb1718a</string>
</dict>
</plist>